<script>
  function firstsec(){
     var p = 10;
     var ans = false ? 'yes': 'no';  // ternary
     alert(ans); 


    /*  multi line comment 
    
    var p = 5; #if-else
     if(p>10){
        alert('yes');
     }else{
        alert('no');
     } */

  }//end function 
</script>
<button type="button" onclick="firstsec()">process</button>