homework
<script>
    function firstsec(){
         var first = document.querySelector('input[name="first"]:checked');
            var sec = document.querySelector('input[name="sec"]:checked');
            var firstValue = first ?  parseInt(first.value) : 0;
            var secValue = sec ?  parseInt(sec.value) : 0;
            var result = firstValue + secValue;
            document.getElementById('0').value = result;
    }
    function reset() {
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(function(radio) {
            radio.checked = false;
        });

        document.getElementById('0').value = "";
    }
    

</script>
<hr>
<h2>first num :
10<input type="radio" id="first01" name="first" value="10">
20<input type="radio" id="first02" name="first" value="20">
30<input type="radio" id="first03" name="first" value="30">
</h2>
</hr>
<hr>
<h2>sec num :
10<input type="radio" id="sec01" name="sec" value="10">
20<input type="radio" id="sec02" name="sec" value="20">
30<input type="radio" id="sec03" name="sec" value="30">
</h2>
</hr>
<button type="button" onclick="firstsec()">process</button>
<button type="button" onclick="reset()">reset</button>
<input type="text" id="0" name="0" readonly>