<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListBox Example</title>
</head>
<body>
    <form method="POST" action="/showpath">
        <table>

            <tr>
                <td><label for="choices">Starting point: </label></td>
                <td><select name="choices" id="choices">
                    {% for choice in choices %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select></td>
            </tr>

            <tr>
                <td><label for="choices2">Destination point: </label></td>
                <td><select name="choices2" id="choices2">
                    {% for choice in choices2 %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select></td>
            </tr>

            <tr><td></td><td><button type="submit">Submit</button></td></tr>
        </table>    
    </form>
</body>
</html>