<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListBox Example</title>
</head>
<body>         
        จาก : {{ choices }} <br>
        เป้าหมาย : {{ choices2 }} <br>
        {{ans}}
        <br><br>
        <img src="{{ url_for('static', filename='images/thank_you.png') }}" 
        alt="Your Image" width="200">
</body>
</html>