<script>
  function done(){
    k = document.getElementById('times').value
    window.location = '../times/'+k
  }
</script>
<!doctype html>
<title>{{ title }}</title>
<table>
    <tr><td>
        <select name="times" id="times" onchange="done()">
            <option value="2" {% if m=='2' %} selected {% endif %} >2</option>
            <option value="3" {% if m=='3' %} selected {% endif %}>3</option>
            <option value="4" {% if m=='4' %} selected {% endif %}>4</option>
            <option value="5" {% if m=='5' %} selected {% endif %}>5</option>
            <option value="6" {% if m=='6' %} selected {% endif %}>6</option>
            <option value="7" {% if m=='7' %} selected {% endif %}>7</option>
            <option value="8" {% if m=='8' %} selected {% endif %}>8</option>
            <option value="9" {% if m=='9' %} selected {% endif %}>9</option>
            <option value="10" {% if m=='10' %} selected {% endif %}>10</option>
            <option value="11" {% if m=='11' %} selected {% endif %}>11</option>
            <option value="12" {% if m=='12' %} selected {% endif %}>12</option>
          </select>
    </td><td><input type='button' value='done' onclick="done()"></td></tr>
</table>
<div>{{result | safe}}</div>