    /* ส่วนของ CSS สำหรับการจัดรูปแบบหน้าเว็บ */
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
  
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
  
    th, td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
  
    th {
        background-color: #f2f2f2;
        text-align: left;
    }
  
    tr:hover {
        background-color: #f5f5f5;
    }
  
    .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    h1 {
        color: #fefefe;
        text-align: center;
    }
  
    .post {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
  
    .post h2 {
        color: #555;
    }
  
    .post p {
        color: #777;
    }
  
    .comment {
        margin-left: 30px;
        color: #888;
    }
  
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }