<script>
  function firstsec(){

      var k1 = [0,1,2,3,4,5,7,8,9][Math.floor(Math.random()*9)];
      var file_name_1 = k1.toString()+'.png'
      var p = document.getElementById('numberOne');
      p.src = file_name_1;


      var k2 = [0,1,2,3,4,5,7,8,9][Math.floor(Math.random()*9)];
      var file_name_2 = k2.toString()+'.png'
      var p = document.getElementById('numberTwo');
      p.src = file_name_2;
      
      
  }//end function 
</script>

<img src="1.png" width="200" height="200" id="numberOne">
<img src="2.png" width="200" height="200" id="numberTwo">

<button type="button" onclick="firstsec()">process</button>